.divv{
    color: rgb(119, 76, 76);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
button{
    background-color: rgb(119, 76, 76);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}